.Home-main{
    display: flex;
    justify-content: center;    
}

.right-box, .left-box{
    display: flex;
    margin-top: 4rem;
    
    
    align-items: center;
    background-color: #ddf8ff;
    width: 34rem;
    height: 40rem;
}
.center-box{
    
    background-color: #fffecd;
    display: flex;
    width: 60rem;
    height: 50rem;
}
.box{
    background-color: rgb(245, 220, 220);
    width: 10vw;
    height: 8vh;
    border-radius: 10px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1); 
}


.metrics {
    display: flex;
    flex-wrap: wrap;  /* Allow wrapping of items */
    gap: 40px;  /* Space between the boxes */
    justify-content: center;  /* Center the boxes horizontally */
}