



/* Main content area next to sidebar */
.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto; /* Enable scrolling for content */
}




.page-content {
  background-color: #F4F9FC;
  height: calc(100vh - 60px); /* Fill remaining space below header */
  overflow-y: auto;
}
